:root {
--body-bg:#ecf0f3;
--body-text-color:#010101;
--primary-dark-bg: #0da1b1;
--primary-light-bg:#15a5b5;
--primary-dark-font:#0da1b1;
--primary-light-font:#15a5b5;
--content-light-bg:#e1eceb;
--secondary-dark-font:#c99c33;
--secondary-light-font:#d0edf1;
--white-color:#ffffff;
--dark-bg-font:#8e8d8d;
--card-bg-color:#f1f3f6;
--sidebarbg-gradient-one:#264460;
--sidebarbg-gradient-two:#214a71;
--sidemenu-active-bg:#ecf0f3;
--sidemenu-active-text:#0da1b1;
--highlight-card-bg:#f1f3f6;
--highlight-card-curve-bg:#f8f9fb;
--dashed-border-color:#e5eaea;
--dashed-border-bg:#ecf0f3;
--iconone-gradient-one:#1cd8d2;
--iconone-gradient-two:#11ffbd;
--icontwo-gradient-one:#8e2de2;
--icontwo-gradient-two:#4a00e0;
--iconthree-gradient-one:#f12711;
--iconthree-gradient-two:#f5af19;
--iconfour-gradient-one:#a3cb38;
--iconfour-gradient-two:#c4e538;
--iconfive-gradient-one:#e84393;
--iconfive-gradient-two:#fd79a8;
--iconsix-gradient-one:#0984e3;
--iconsix-gradient-two:#74b9ff;
--profile-pic-bg:#24bdc9;
--link-hover-text:#3d5654;
--tab-text-color:#425c5a;
--tab-active-text-color:#0da1b1;
--muted-text:#969698;
--grey-text:#716f6f;
}